h1 , h2 { color: red;
margin-left :40px;}
header{ background-color:gray;
   margin-left:10px;
   ;

}
figure{ margin-right:40px;}

h3{
    border-bottom:2px solid gray;
}


.skill span {
  background-color: red;
  margin: 2px;
  display: block;
  padding: 2px;
  color: white;
}

.skill {
  background-color: hsla(0, 100%, 70%, 0.3);
  margin: 4px;
  padding: 2px;
}

div.skills-secondary span {
  opacity: 0.5;
}

.skills-primary {
  margin-bottom: 15px;
}

.experience-institution {
  font-weight: 200;
}

.experience-institution::before {
  content: ' @ ';
  color: red;
}

.skill[data-skill='1'] span {
  width: 10%;
}

.skill[data-skill='3'] span {
  width: 30%;
}

.skill[data-skill='5'] span {
  width: 50%;
}

.skill[data-skill='7'] span {
  width: 70%;
}

.skill[data-skill='9'] span {
  width: 90%;
}
.experience-type{
     color:red;
}
.experience-institution{
    color:red;
}

.experience-date{
    color: gray;
}
.experience-location{
    color:gray;
}
.contact-type{
    color:white;
    background-color:red;
    width:50px;
    margin-top:-17px;
    padding-right:100px;
    padding-left:10px;
}
.contact-value{
    color:black;
    background-color:black;
    padding-left:25px;
    margin-top:-18px;
    margin-right: 50px;
    margin-left:150px;
}
#contact{
      position: absolute;
    left: 400px;
    top: 50px;
}
.skills.skills-primary::before{
    content:"Main";
}
.skills.skills-secondary::before{
    content:"other";
}
.experience-details::before{
    content:"In";
    color:gray;
}
.experience-institution:before{
    content:"@";
    color: red;
}
section{
    float:left;
     width:500px;
     padding-left:100px;

}
h3::before{
    content:"●";
    font-size: 40px;
    color:red;
}