h1 , h2 { color: red;
margin-left :40px;}

header{ background-color:gray;
  position:fixed;
  width:100%;
  height:130px;
  margin:0;
  top:0;
  left:0;
  
}

h3{
    border-bottom:2px solid gray;
}
figure{
    float:left;
    margin-top:-115px;
    margin-left:250px;
}

.skill span {
  background-color: red;
  margin: 2px;
  display: block;
  padding: 2px;
  color: white;
}

.skill {
  background-color: grey;
  margin: 4px;
  padding: 2px;
}

div.skills-secondary span {
  opacity: 0.5;
}

.skills-primary {
  margin-bottom: 15px;
}

.experience-institution {
  font-weight: 200;
}

.experience-institution::before {
  content: ' @ ';
  color: red;
}

.skill[data-skill='1'] span {
  width: 10%;
}

.skill[data-skill='3'] span {
  width: 30%;
}

.skill[data-skill='5'] span {
  width: 50%;
}

.skill[data-skill='7'] span {
  width: 70%;
}

.skill[data-skill='9'] span {
  width: 90%;
}
.experience-type{
     color:red;
}
.experience-institution{
    color:red;
}

.experience-date{
    color: gray;
}
.experience-location{
    color:gray;
}
.contact-type{
    color:white;
    background-color:red;
    width:50px;
    margin-top:-17px;
    padding-right:100px;
    padding-left:10px;
}
.contact-value{
    color:black;
    background-color:black;
    padding-left:25px;
    margin-top:-18px;
    margin-right: 50px;
    margin-left:150px;
}
#contact{
      position: fixed;
    top: 0;
    width:1000px;
    margin-left:300px;
    margin-top:20px;

}

.skills.skills-primary::before{
    content:"Main";
}
.skills.skills-secondary::before{
    content:"other";
}
.experience-details::before{
    content:"In";
    color:gray;
}
.experience-institution:before{
    content:"@";
    color: red;
}
section{
    float:left;
     width:500px;
     padding-left:100px;
   margin-top:170px;
}
h3::before{
    content:"●";
    font-size: 40px;
    color:red;
}
#contact h3{
    display:none;

}
#experiences{
    margin-top:-20px;
}
#education{
    margin-top:-20px;
}
#hobbies{
    margin-top:-20px;
}
.experience-date-separator{
    color:red;
}