.experience-type {
    color:teal;
}
h2{
    display:none;
}

.skill{
    background-color:teal;
    width: 150px;
    height: 25px;
    border: 2px dotted teal;
    overflow: visible;
    margin-top:4px;  
    float:left;
    margin-left:4px;
}
.skill[data-skill="9"]{
    clear:left;  
}
#experience{
    clear:left;
}
.skill[data-skill="5"]::after{
    content:"★★★";
    color:white;
}
.skill[data-skill="3"]::after{
    content:"★★";
    color:white;
    padding-left:10px;
}
.skill[data-skill="1"]::after{
    content:"★";
    padding-left:10px;
    color:white;
    
}
.skill[data-skill="9"]::after{
    content:"★★★★★";
    color:white;
    padding-left:10px;
}
.skill[data-skill="7"]::after{
    content:"★★★★";
    padding-left:10px;
    color:white;
}
.experience-institution{
    display:none;
}
#about{

    color:grey;}
#about h3{
    display:none;
}
h1{
    border-bottom: 2px solid gray;
    
}
.education{
    padding-left:100px;
}
img{
    float:right;
}
.contact.contact-email{
    background-image:url(../images/email.png);
    background-repeat: no-repeat;
    background-position: 10% 50%;
    background-size:100px;
    height:100px;
    font-size:0px;
}
.contact.contact-phone{
    background-image:url(../images/phone.png);
    background-repeat:no-repeat;
    background-position:10% 50%;
    background-size:100px;
    height:100px;
    font-size:0px;
}
.contact.contact-github{
    background-image:url(../images/github.png);
    background-repeat:no-repeat;
    background-position:10% 50%;
    background-size:100px;
    height:100px;
    font-size:0px;
}
.contact.contact-facebook{
    background-image:url(../images/facebook.png);
    background-repeat:no-repeat;
    background-position:10% 50%;
    background-size:100px;
    height:100px;
    font-size:0px;
}
.contact.contact-skype{ 
    display:none;
}
.contact{
    float:left;
    padding-left:80px;
}