h1 , h2 { color: red;
margin-left :20px;}
header{ background-color:gray;

}

h3{
    border-bottom:2px solid gray;
}

[data-skill="5"] span {
    background-color: red;
    width:50%;
    margin-top:10px;
}

[data-skill="3"]span{
    background-color:red;
    margin-right:30%;
    margin-top:10px;
}
[data-skill="1"]span
{
    background-color:red;
    width:10%;
    margin-top:10px;
}
[data-skill="9"]span
{
    background-color: red;
    width:90%;
    margin-top:10px;
}
[data-skill="7"]span
{
    background-color:red;
    width:70%;
    margin-top:10px;
}
.skill span{
    background-color:red;
}

.skill{
    background:gray;
}

.experience-type{
    color:red;
}
.experience-institution{
    color:red;
}
.experience-date-separator{
    color:red;
}
.experience-date{
    color: gray;
}
.experience-location{
    color:gray;
}
.contact-type{
    color:white;
    background-color:red;
    width:120px;
    margin-top:-16px;
}
.contact-value{
    color:black;
    background-color:black;
    margin-left:120px;
    margin-top:-18px;
}
#contact{
      position: absolute;
    left: 600px;
    top: 50px;
}
.skills.skills-primary::before{
    content:"Main";
}
.skills.skills-secondary::before{
    content:"other";
}
.experience-details::before{
    content:"In";
    color:gray;
}
.experience-institution:before{
    content:"@";
    color: red;
}
.section{
    float:left;
    padding-left:200px;
}

